.sample1 {
    width: 200px;
    height: 200px;
    border: solid 1px #000;
    background-color: #f00;
}

.container {
    position: relative;
    height: 100vh;
    transform-origin: left top;
    transform: scale(1.0);
    // 背景画像
    background-image: url(https://0css.github.io/svg/tonfa.svg);
    background-size: 500px auto; // 幅、高さ
    background-position: 50px 10px; // x, y
    background-repeat: no-repeat;
}